extends layout 


block main-content 
  //You can overwrite the main-content block by writing block content
  //in the template file which is extending.
  h1.page-title Welcome to our cocktail bar's website3.
  p In this website you can find information about our menu, events, and location, as well as make reservations for a night of delicious drinks and good company.
  img(src="/images/background2.jpg", alt='interior design')
  //https://www.wantedonline.co.za/food-and-drink/2018-10-05-three-joburg-bars-where-art-meets-mixing-magic/
