extends layout 

block append scripts 
  //add more scripts to the scripts block from layout.pug
  script(src="/contact-us.js")

block main-content 
  h1.page-title #{title}
  p At SHIRAZ, we're always happy to hear from you! If you have any questions or comments, please don't hesitate to reach out. You can call us at 4444444444, email us at contactus@shiraz.com, or send us a message through our website. We're open ... and located at .... We look forward to welcoming you to SHIRAZ and sharing our love of Iranian-inspired cocktails and cuisine with you soon.
  img(src="/images/contact -us.jpg", alt='about us')
  //https://uniqop.com/sharbat/
  //https://www.luxurious-studio.com/h2r-design-renovates-the-persian-restaurant-anar-in-souk-madinat-jumeirah/
